__pycache__/
*.py[cod]
*$py.class

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


data/
input/
saved/
datasets/*
!datasets/dataset_retrieval.py
!datasets/preprocessing.py
!datasets/demo_images
runs/
*.zip

# editor, os cache directory
.vscode/
.idea/
__MACOSX/
